/* Empezando la verdadera decoración en CSS */

/* Parámetros generales - inicio */
:root {
  /* Paleta de colores */
  /* Modo claro */
  --light-bg: #fcfaff;
  --light-fg: #1e1e23;
  --light-bd: #9090a0;
  /* Modo oscuro */
  /* -- pronto -- */

  /* Paleta a aplicar al CSS */
  --bg: var(--light-bg); /* Fondo general */
  --fg: var(--light-fg); /* Letra y SVG */
  --bd: var(--light-bd); /* Bordes */
  --footer-bg: var(--light-fg);
  --footer-fg: var(--light-bg);
}

* {
  margin: 0;
  padding: 0;
  /* outline: 1px solid red; */
}

body {
  display: flex;
  flex-direction: column;
  background-color: var(--bg);
  color: var(--fg);
  width: 100%;
  min-height: 100vh;
  font-family: "Red Hat Display", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  z-index: 0;
}
/* Parámetros generales - fin */

/* Elementos globales - inicio */
/* Eliminar elementos predefinidos de los vínculos */
a {
  color: inherit;
  text-decoration: none;
}

/* Eliminar punto predefinido de las listas */
ul {
  list-style-type: none;
}

/* Eliminar los botones de los input de tipo number */
input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

input[type="number"] {
    -moz-appearance: textfield;
}
/* Elementos globales - fin */

/* Componentes de cabecera - inicio */
/* Componentes generales de cabecera - inicio */
header {
  margin-top: 35px;
  display: flex;
  flex-direction: column;
  width: 100%;
}

/* El estilo de la cabecera principal */
.header-index {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  font-size: 2rem;
  margin: 1.5rem;
}

/* El estilo de las demás cabeceras */
.header-docs {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.5em;
  margin: 1.5em;
}

.header-projects h1 {
  max-width: 900px;
}
/* Componentes generales de cabecera - fin */

/* Barra de navegación - inicio */
#navbar-container {
  position: absolute;
  top: 0;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  background-color: var(--bg);
  border-bottom: 1px solid var(--bd);
  z-index: 2;
}

#navbar {
  display: block;
  width: initial;
  z-index: 3;
}

#navbar-banner-name {
  position: relative;
  bottom: 1px;
  font-weight: 600;
  font-size: 1.2rem;
  padding: 3px;
  margin: 0 7px;
}

#nav-list {
  display: flex;
  flex-direction: row;
}

.nav-item {
  padding: 5px;
  margin: 0 7px;
  background-color: var(--bg);
  color: var(--fg);
  transition: background-color 0.25s, color 0.25s;
  transition-timing-function: ease-in-out;
  transition-delay: 0s;
}

.nav-item:hover {
  background-color: var(--fg);
  color: var(--bg);
  transition-delay: 0.1s;
}

#navbar-mobile-bars {
  display: none;
  padding: 3px 5px;
  margin: 4px;
  border: 1px solid var(--bd);
}
/* Barra de navegación - fin */
/* Componentes de cabecera - fin */

/* Componentes de main - inicio */
main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-grow: 1;
  padding: 1em;
}

.plain p {
  margin: 0.5em;
}

/* Sección de proyectos - inicio */
#projects-container {
  width: 100%;
  max-width: 900px;
}

.project-link {
  display: block;
  padding: 3px 10px;
  border: 1px solid var(--bd);
  background-color: var(--bg);
  color: var(--fg);
  transition: background-color 0.25s, color 0.25s;
  transition-timing-function: ease-in-out;
  transition-delay: 0s;
}

.project-link:hover {
  background-color: var(--fg);
  color: var(--bg);
  transition-delay: 0.1s;
}

.form-field {
  padding: 0.3em;
}

.submit-button {
  width: 100%;
  padding: 0.3em;
  border-width: 1px;
  border-style: solid;
  border-color: var(--bd);
  background-color: var(--bg);
  color: var(--fg);
  transition: border-color 0.25s, background-color 0.25s, color 0.25s;
}

.submit-button:hover {
  border-color: var(--fg);
  background-color: var(--fg);
  color: var(--bg);
}

/* Sección de proyectos - fin */
/* Componentes de main - fin */

/* Componentes de footer - inicio */
footer {
  display: flex;
  flex-direction: column;
  background-color: var(--footer-bg);
  color: var(--footer-fg);
  width: 100%;
}

.footer-main {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  width: 100%;
}

.footer-vertical-hr {
  width: 1px;
  height: 60px;
  border: none;
  background-color: var(--bd);
}

.footer-license {
  padding: 3px;
  text-align: center;
}
/* Componentes de footer - fin */

/* Estilos especiales - inicio */
.error-msg {
  font-family: monospace;
  font-weight: bold;
  color: #800000;
}
/* Estilos especiales - fin*/

/* Media queries - Inicio */
@media screen and (max-width: 600px) {
  /* MQ Navbar - Inicio */
  #navbar {
    display: none;
    position: fixed;
    top: 37px;
    width: 100%;
    z-index: 1;
  }

  #navbar-mobile-bars {
    display: block;
  }

  #nav-list {
    flex-direction: column;
  }
  /* MQ Navbar - Fin */
}
/* Media queries - Fin */

/* Estilos temporales
 * BORRAR: Todo hasta el final del archivo. */
.hide {
  display: none;
}
