/* Empezando la verdadera decoración en CSS */

/* ORDEN DEL CSS
 * Parámetros generales
 * - Paleta de Colores
 * - Configuración general
 * Elementos Globales
 * - Hipervínculos
 * - Listas
 * - Input
 * Componentes de la cabecera
 * - Componentes generales
 * - Barra de navegación
 * Componentes de main
 * Componentes de footer
 * Estilos especiales
 * Media Queries
 * Estilos temporales BORRAR */


/* Parámetros generales - inicio */
:root {
  /* Paleta de colores */
  /* Modo claro */
  --light-bg: #fcfaff;
  --light-fg: #1e1e23;
  --light-bd: #9090a0;
  --light-warn: #800000;
  /* Modo oscuro */
  --dark-bg: #1e1e23;
  --dark-fg: #fcfaff;
  --dark-bd: #52525c;
  --dark-footer-bg: #2b284e;
  --dark-warn: #e22828;

  /* Paleta a aplicar al CSS */
  --bg: var(--light-bg); /* Fondo general */
  --fg: var(--light-fg); /* Letra y SVG */
  --bd: var(--light-bd); /* Bordes */
  --footer-bg: var(--light-fg);
  --footer-fg: var(--light-bg);
  --warning: var(--light-warn);
}

/* Estilos para el tema oscuro */
.dark-theme {
  --bg: var(--dark-bg);
  --fg: var(--dark-fg);
  --bd: var(--dark-bd);
  --footer-bg: var(--dark-footer-bg);
  --footer-fg: var(--dark-fg);
  --warning: var(--dark-warn);
}

/* Configuración general - inicio */
* {
  margin: 0;
  padding: 0;
  /* outline: 1px solid red; */
}

body {
  display: flex;
  flex-direction: column;
  background-color: var(--bg);
  color: var(--fg);
  width: 100%;
  min-height: 100vh;
  font-family: "Red Hat Display", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  z-index: 0;
}
/* Configuración general - fin */
/* Parámetros generales - fin */

/* Elementos globales - inicio */
/* Eliminar elementos predefinidos de los vínculos */
a {
  color: inherit;
  text-decoration: none;
}

/* Eliminar punto predefinido de las listas */
ul {
  list-style-type: none;
}

/* Eliminar los botones de los input de tipo number */
/* Los navegadores basados en Webkit tratan los botones
 * de forma independiente */
input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Para otros navegadores lo se debe cambiar la
 * apariencia del campo a textfield */
input[type="number"] {
  -moz-appearance: textfield;
  appearance: textfield;
}
/* Elementos globales - fin */

/* Componentes de cabecera - inicio */
/* Componentes generales de cabecera - inicio */
header {
  margin-top: 35px;
  display: flex;
  flex-direction: column;
  width: 100%;
}

#header-items {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;  
}

/* El estilo de la cabecera principal */
.header-index {
  font-size: 2rem;
  margin: 1.5rem;
}

/* El estilo de las demás cabeceras */
.header-docs {
  font-size: 1.5em;
  margin: 1.5em;
}

.header-projects h1 {
  max-width: 900px;
}
/* Componentes generales de cabecera - fin */

/* Barra de navegación - inicio */
#navbar-container {
  position: absolute;
  top: 0;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  background-color: var(--bg);
  border-bottom: 1px solid var(--bd);
  z-index: 2;
}

#navbar {
  display: block;
  width: initial;
  z-index: 3;
}

#navbar-banner-name {
  position: relative;
  bottom: 1px;
  font-weight: 600;
  font-size: 1.2rem;
  padding: 3px;
  margin: 0 7px;
}

#nav-list {
  display: flex;
  flex-direction: row;
}

.nav-item {
  padding: 5px;
  margin: 0 7px;
  background-color: var(--bg);
  color: var(--fg);
  transition: background-color 0.25s, color 0.25s;
  transition-timing-function: ease-out;
  transition-delay: 0s;
}

.nav-item:hover {
  background-color: var(--fg);
  color: var(--bg);
  transition-delay: 0.1s;
}

#navbar-mobile-bars {
  display: none;
  padding: 3px 5px;
  margin: 4px;
  border: 1px solid var(--bd);
}
/* Barra de navegación - fin */
/* Componentes de cabecera - fin */

/* Componentes de main - inicio */
main {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  flex-grow: 1;
  padding: 1em;
}

main p a {
  text-decoration-line: underline;
  text-decoration-color: transparent;
  font-style: italic;
  transition: text-decoration-color 0.25s;
  transition-timing-function: ease-in;
}

main p a:hover {
  text-decoration-color: var(--fg);
}

.plain-container {
  width: 100%;
  max-width: 800px;
}

.plain p {
  margin: 0.5em;
  text-justify: inter-word;
}

/* Sección de proyectos - inicio */
.projects {
  justify-content: flex-start;
}

#projects-container {
  width: 100%;
  max-width: 900px;
}

.project-description {
  margin: 0.5em 0;
}

.project-link {
  display: block;
  padding: 3px 10px;
  border: 1px solid var(--bd);
  background-color: var(--bg);
  color: var(--fg);
  transition: background-color 0.25s, color 0.25s;
  transition-timing-function: ease-in-out;
  transition-delay: 0s;
}

.project-link:hover {
  background-color: var(--fg);
  color: var(--bg);
  transition-delay: 0.1s;
}

.form-field {
  padding: 0.3em;
}

.submit-button {
  width: 100%;
  padding: 0.3em;
  border-width: 1px;
  border-style: solid;
  border-color: var(--bd);
  background-color: var(--bg);
  color: var(--fg);
  transition: border-color 0.25s, background-color 0.25s, color 0.25s;
}

.submit-button:hover {
  border-color: var(--fg);
  background-color: var(--fg);
  color: var(--bg);
}

/* Sección de proyectos - fin */
/* Componentes de main - fin */

/* Componentes de footer - inicio */
footer {
  display: flex;
  flex-direction: column;
  background-color: var(--footer-bg);
  color: var(--footer-fg);
  width: 100%;
}

.footer-main {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  width: 100%;
}

.footer-vertical-hr {
  width: 1px;
  height: 60px;
  border: none;
  background-color: var(--bd);
}

.footer-contact {
  display: flex;
  flex-direction: column;
}

.footer-sites {
  display: flex;
  flex-direction: row;
}

.footer-sites a:not(:first-child) {
  margin-left: 0.5rem;
}

.footer-license {
  padding: 3px;
  text-align: center;
}
/* Componentes de footer - fin */

/* Estilos especiales - inicio */
.error-msg {
  font-family: monospace;
  font-weight: bold;
  color: var(--warning);
}
/* Estilos especiales - fin*/

/* Media queries - Inicio */
/* Presentación en móviles */
@media screen and (max-width: 600px) {
  /* MQ Navbar - Inicio */
  #navbar {
    display: none;
    position: fixed;
    top: 37px;
    width: 100%;
    z-index: 1;
  }

  #navbar-mobile-bars {
    display: block;
  }

  #nav-list {
    flex-direction: column;
  }
  /* MQ Navbar - Fin */
}
/* Media queries - Fin */

/* Estilos temporales
 * BORRAR: Todo hasta el final del archivo. */
.hide {
  display: none;
}
